.divider {
  border-bottom: 1px solid #E2E4E5;
}
.header-row {
  padding-top: 10px;
  padding-bottom: 10px;
}
.header-center {
  display: flex;
  justify-content: center;
}
.header-right {
  float: right;
}
.header-button {
  font-family: 'avenir';
  font-weight: 800;
  font-size: 16px;
}

.body-container {
  margin-left: 120px !important;
  margin-right: 120px !important;
}

.form-control:focus {
  box-shadow: none !important;
}

button:focus {
  box-shadow: none !important;
}

/*page content*/
.cform-title-wrapper {
  margin-top: 30px;
  padding: 20px 71px;
}
.cform-title {
  font-family: 'avenir-medium' !important;
  font-size: 42px !important;
  max-width: 640px;
  border: none !important;
}
.cform-title-desc {
  font-family: 'avenir-medium' !important;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 10px;
}
.cform-icon-group {
  width: 71px;
  text-align: end;
}
.cform-footer {
  display: flex;
  margin-top: 40px;
}
.cform-footer-submit {
  margin-left: 10px;
  padding: 12px 32px;
}